<div class="myStyle" >
<header class="masthead text-center text-black d-flex">
 
    <div class="container my-auto" >
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase" >
            <strong>Bill Payment System</strong>
          </h1>
          <hr>
          <p style="font-size:30px"> BPS is a system used for managing various activities such as vendor registration, customer registration, Bill payment etc. in order to facilitate various billing procedures between the vendors and customers.</p>
        </div>
        
      
    </div>
  </div>
  </header>
</div>
  
  <div class="myStyle">
  <section id="">
    <div class="">
      <div class="">
        <div class="col-lg-12 mx-auto text-center ">
          <h2 class="section-heading">Help-Line</h2>
          <hr class="my-4">
          <p class="mb-5">For technical support please contact:</p>
        </div>
      </div>
      <!-- <hr _ngcontent-c2="" class="my-4"> -->
      <div class="row">
        <div class="col-lg-12 ml-auto text-center ">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p>123-456-6789</p>
        </div>
        <div class="col-lg-12 mr-auto text-center ">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:your-email@your-domain.com">Support@Cognizant.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
