<main class="page payment-page">
  <section class="payment-form dark">
    <div class="container">
      <div class="block-heading">
        <h2>Payment</h2>
        <p>Please enter your card details below</p>
      </div>
      <form id="pay_form">
        <div class="products">
          <h3 class="title">Checkout</h3>
          <div class="item">
            <span class="price">&#8377;{{price}}</span>
            <p class="item-name">Bill Amount</p>
            
          </div>
          <div class="total">Due Date<span class="price">{{payDate}}</span></div>
        </div>
        <div class="card-details">
          <h3 class="title">Credit Card Details</h3>
          <div class="row">
            <div class="form-group col-sm-7">
              <label for="card-holder">Card Holder</label>
              <input id="card-holder" name="cardName" type="text" class="form-control" placeholder="Card Holder" [(ngModel)]="cardName" aria-label="Card Holder" aria-describedby="basic-addon1" required>
            </div>
            <div class="form-group col-sm-5">
              <label for="">Expiration Date</label>
              <div class="input-group expiration-date">
                <input type="text" class="form-control" name="cardMonth" [(ngModel)]="cardMonth"placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                <span class="date-separator">/</span>
                <input type="text" class="form-control" name="cardYear" [(ngModel)]="cardYear"placeholder="YYYY" aria-label="YY" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="form-group col-sm-8">
              <label for="card-number">Card Number</label>
              <input id="card-number" name="cardNo" [(ngModel)]="cardNo" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-4">
              <label for="cvc">CVV</label>
              <input id="cvc" type="text" name="cvv" [(ngModel)]="cvv" class="form-control" placeholder="CVV" aria-label="Card Holder" aria-describedby="basic-addon1">
            </div>
            <div class="form-group col-sm-12">
              <button type="button" class="btn btn-primary btn-block" (click)="onSubmit()">Proceed</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
